.container-left {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 300px;
    border-right: 1px solid #383838;
}
.container-right {
    float: right;
    width: 300px;
    height: 100px;
}
