.control-bar {

    margin-top: 41px;
    border-top: 1px solid #383838;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;

    .control-bar-item {
        display: inline-block;
    }
    .control-bar-label {
        display: inline-block;
        min-width: 80px;
        height: 40px;
        line-height: 40px;
        padding-right: 10px;
        padding-left: 5px;
        border-right: 1px solid #000;
        border-left: 1px solid #383838;
        text-align: center;
        color: #D97915;
        font-weight: bold;
        font-style: italic;
        font-family: 微软雅黑, Arial, Helvetica, Verdana;
    }
    .control-bar-button {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-right: 1px solid #030303;
        border-left: 1px solid #383838;
        color: #FFF;
        font-weight: bold;
        cursor: pointer;
    }
    .icon {
        font-size: 22px;
        font-weight: normal;
    }
    .control-bar-button:hover {
        background-color: #2A333A;    
        color: #d97915;
    }
    .control-bar-button:active {
        background-color: #21292F;
        color: #CCC;
    }
}