@import "iconfont/iconfont.less";
@import "widget/menu.less";
@import "widget/colorPicker.less";
@import "widget/dialog.less";
@import "widget/alert.less";
@import "component/controlBar.less";
@import "component/mousePosBar.less";
@import "component/verticalList.less";
@import "component/meshList.less";
@import "component/geometryPropertyBar.less";
@import "component/explorer.less";
@import "layout/containerLeft.less";
@import "layout/containerRight.less";
@import "layout/containerProperty.less";
@import "layout/containerStage.less";

body {
    margin: 0;
    background-color: #1F1F1F;
    overflow-y: scroll;
}