.mouse-position-bar {
    position: fixed;
    width: 300px;
    right: 0px;
    bottom: 0px;
    color: #FFF;
    line-height: 35px;
    border-top: 1px solid #000000;
    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;
    .position-label {
        display: inline-block;
        border-top: 1px solid #383838;
        text-align: right;
    }
    .position-item {
        display: inline-block;
        border-top: 1px solid #383838;
        text-align: left;
    }
    .label-x {
        width: 70px;
    }
    .item-x {
        width: 50px;
    }
    .label-y {
        width: 30px;
    }
    .item-y {
        width: 50px;
    }
    .label-z {
        width: 30px;
    }
    .item-z {
        width: 70px;
    }
}