.tc-geometry-editor {
    color: @font-color-main;
    background-color: @background-color-stage;
    width: 100%;
    padding: 5px 0;
    td {
        line-height: 25px;
    }
    tr td:nth-child(1) {
        text-align: right;
        vertical-align: top;
        padding-right: 5px;
    }
    .file-selector-container {
        position: relative;
        .file-selector {
            opacity: 0;
            cursor: pointer;
        }
        .file-selector-placeholder {
            position: absolute;
            left: 1px;
            top: 0px;
            line-height: 26px;
            padding: 0 5px;
            border: 1px solid @font-color-main;
        }
    }
    
    
}
