
@font-face {
  font-family: "iconfont";
  src: url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
}
.icon-guanbi:before {content: "\e611"; }
.icon-shangshixinjiantou:before {content: "\e601"; }
.icon-youshixinjiantou:before {content: "\e602"; }
.icon-zuoshixinjiantou:before {content: "\e603"; }
.icon-xiashixinjiantou:before {content: "\e604"; }
.icon-guanbi1:before {content: "\e619"; }
.icon-zhizhen:before {content: "\e606"; }
.icon-exit-door:before {content: "\e61a"; }
.icon-shanchu:before {content: "\e622"; }
.icon-xinjianwenjianjia:before {content: "\e623"; }
.icon-wenjianjia:before {content: "\e60c"; }
.icon-move:before {content: "\e607"; }
.icon-fangda:before {content: "\e608"; }
.icon-suoxiao:before {content: "\e609"; }
.icon-wenjian:before {content: "\e621"; }
.icon-pingmufangda:before {content: "\e60a"; }
.icon-pingmusuoxiao:before {content: "\e60b"; }
.icon-yidong:before {content: "\e60d"; }
.icon-jiafangda:before {content: "\e60f"; }
.icon-jiansuoxiao:before {content: "\e610"; }
.icon-shuxingxuanze:before {content: "\e612"; }
.icon-suo:before {content: "\e60e"; }
.icon-baocun:before {content: "\e61b"; }
.icon-llfilterrotate:before {content: "\e613"; }
.icon-yidong1:before {content: "\e616"; }
.icon-world:before {content: "\e618"; }
.icon-icicfangdatubiao:before {content: "\e617"; }
.icon-baocun1:before {content: "\e61c"; }
.icon-tuichu:before {content: "\e61d"; }
.icon-bulb:before {content: "\e600"; }
.icon-452xianxinglingcun:before {content: "\e61e"; }
.icon-iconfont90:before {content: "\e61f"; }
.icon-wenjianxiangguanyemiantubiao02:before {content: "\e614"; }
.icon-suo1:before {content: "\e605"; }
.icon-wodedingdan35:before {content: "\e624"; }
.icon-bukejian:before {content: "\e625"; }
.icon-kejian:before {content: "\e626"; }
.icon-reset:before { content: "\e615"; }
