@import "color";
.tcui-layer {
    position: fixed;
    left: -9999px;
    top: -9999px;
}

.tcui-layer-size-normal {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid;
}

.tcui-layer-skin-normal {
    color: @font-color-main;
    background-color: @background-color-layer;
    border-top-color: @border-top-color;
    border-left-color: @border-left-color;
    border-right-color: @border-right-color;
    border-bottom-color: @border-bottom-color;
}
