.fcui2-titlewindow-normal {
    .title-bar {
        background-color: @background-color-main;
        font-family: @font-normal;
    }
}
.fcui2-colorpicker {
    .input-container {
        >div {
            >span {
                font-size: 12px;
                font-family: @font-normal;
            }
        }
    }
}
.fcui2-numberbox-normal {
    background-color: transparent;
    .btn-container {
        height: 26px;
        background-color: @background-color-main;
        .fcui2-icon {
            height: 13px;
            color: @font-color-main;
        }
        .fcui2-icon:hover {
            background-color: @background-color-checked;
        }
    }
    input {
        height: 24px;
        color: @font-color-main;
        &:hover,&:focus {
            border-color: @font-color-hover !important;
        }
    }
}
.fcui2-numberbox-normal-hover, .fcui2-numberbox-normal:hover {
    input {
        border-color: @font-color-hover !important;
    }
}
.fcui2-layer-black {
    border-color: @font-color-hover;
}
.fcui2-button-black {
    background-color: @background-color-main;
    border-color: @background-color-main;
    input {
        color: @font-color-main;
    }
}
.fcui2-button-trans {
    input {
        color: @font-color-main;
    }
}
.fcui2-button-disabled {
    input {
        color: @font-color-disabled;
    }
}
.fcui2-textbox-normal {
    input {
        height: 24px;
        color: @font-color-main;
        &:hover,&:focus {
            border-color: @font-color-hover;
        }
    }
}
.fcui2-checkbox {
    .fcui2-tc-icon-checkbox-selected {
        color: @font-color-main;
    }
}
.fcui2-dropdownlist {
    height: 26px;
    background-color: transparent;
    .label-container,.fcui2-icon {
        color: @font-color-main;
    }
}
.fcui2-dropdownlist:hover, .fcui2-dropdownlist-normal-hover {
    cursor: pointer;
    border: 1px solid @font-color-hover;
    .fcui2-icon {
        color: @font-color-hover; 
    }
}


.in-layer {
    .fcui2-numberbox-normal {
        input {
            color: @background-color-main;
        }
        .btn-container {
            .font-icon {
                color: @font-color-main;
            }
        }
    }
    .fcui2-textbox-normal {
        input {
            color: @background-color-main;
        }
    }
}