.fcui2-titlewindow-normal {
    .title-bar {
        background-color: @background-color-main;
        font-family: @font-normal;
    }
}
.fcui2-colorpicker {
    .input-container {
        >div {
            >span {
                font-size: 12px;
                font-family: @font-normal;
            }
        }
    }
}
.fcui2-numberbox-normal {
    background-color: transparent;
    .btn-container {
        background-color: @background-color-main;
        .font-icon:hover {
            background-color: @background-color-checked;
        }
    }
    input {
        height: 24px;
        color: @font-color-main;
        &:hover,&:focus {
            border-color: @font-color-hover !important;
        }
    }
}
.fcui2-numberbox-normal-hover, .fcui2-numberbox-normal:hover {
    input {
        border-color: @font-color-hover !important;
    }
}
.fcui2-button-black {
    background-color: @background-color-main;
    border-color: @background-color-main;
    input {
        color: @font-color-main;
    }
}
.fcui2-textbox-normal {
    input {
        height: 24px;
        color: @font-color-main;
        &:hover,&:focus {
            border-color: @font-color-hover;
        }
    }
}

.in-layer {
    .fcui2-numberbox-normal {
        input {
            color: @background-color-main;
        }
        .btn-container {
            .font-icon {
                color: @font-color-main;
            }
        }
    }
}