@import "colors";
@import "../../dep/fcui2/src/css/main";
@import "./iconfont/iconfont";
@import "./components/menu";
@import "./components/commandBar";
@import "./components/stage3d";

body {
    margin: 0;
    padding: 0;
    background-color: @background-color-main;
}

.tc-root-container {
    font-family: "微软雅黑";
}