@font-normal: 'Helvetica', 'Tahoma', 'Arial', 'Heiti SC', 'Microsoft YaHei', '微软雅黑', sans-serif;
@import "colors";
@import "../../dep/fcui2/src/css/main";
@import "../../dep/fcui2/src/css/icon/fc-icon";
@import "./icon/tc-icon";
@import "./components/panelContainer";
@import "./components/menu";
@import "./components/commandBar";
@import "./components/informationBar";
@import "./components/stage";
@import "./components/cameraController";
@import "./components/meshList";
@import "./components/toolsBar";
@import "./components/geometryEditor";
@import "./components/explorer";
@import "./fcui2hacks";

body {
    margin: 0;
    padding: 0;
    background-color: @background-color-main;
}

.tc-root-container {
    font-family: @font-normal;
}


.tc-command-bar,
.tc-camera-controller,
.tc-information-bar,
.tc-panel-container {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}